# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
**/__pycache__/
*.pyc
*.pyo
*.pyd
README_RNN.md
CLAUDE.md
RNN_Activity_Guide.md
RNN_Algorithm_Diagram.md
Neural_Networks_Comparison.md
node_modules/
frontend/node_modules/
backend/app/routers/project3/vehicle_classifier_model.keras
backend/app/routers/project5/data/900k Definitive Spotify Dataset.json
backend/app/routers/project5/data/lyrics_preprocessed_400mb.txt
backend/app/routers/project5/data/lyrics_tokenizer_400mb.pkl
backend/app/routers/project5/model/lyrics_model_2_best.pth
backend/app/routers/project5/model/lyrics_model_2_tokenizer.pkl
backend/app/routers/project5/model/lyrics_model_2.pth
backend/app/routers/project5/model/lyrics_model.pth
backend/app/routers/project5/model/tokenizer.pkl
VERCEL_DEPLOYMENT.md
RAILWAY_DEPLOYMENT.md
backend/app/routers/project6/imageData/*
backend/app/routers/project6/rawData/*
backend/app/routers/project6/prompts/
backend/app/routers/project6/markdowns/
backend/app/routers/project6/future_project_idea.txt
# backend/app/routers/project6/models/**/*.png

backend/app/routers/Project7/imageData/
backend/app/routers/Project7/npzData/
backend/app/routers/Project7/models/
backend/app/routers/Project7/temp_download/
backend/app/routers/Project8/
backend/app/routers/Project9/models/


